USE [master]
GO
/****** Object:  Database [HotelSystemDB]    Script Date: 2025/09/30 12:40:01 ******/
CREATE DATABASE [HotelSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelSystemDB', FILENAME = N'C:\Users\hp\HotelSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelSystemDB_log', FILENAME = N'C:\Users\hp\HotelSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelSystemDB]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 2025/09/30 12:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [nchar](10) NOT NULL,
	[TotalPrice] [money] NOT NULL,
	[Deposit] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[RoomID] [nchar](10) NOT NULL,
	[CheckInDate] [datetime] NOT NULL,
	[CheckOutDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reservation]    Script Date: 2025/09/30 12:40:01 ******/
CREATE NONCLUSTERED INDEX [IX_Reservation] ON [dbo].[Reservation]
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
