USE [master]
GO
/****** Object:  Database [HotelSystemDB]    Script Date: 2025/10/11 22:33:32 ******/
CREATE DATABASE [HotelSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelSystemDB', FILENAME = N'C:\Users\hp\HotelSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelSystemDB_log', FILENAME = N'C:\Users\hp\HotelSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelSystemDB]
GO
/****** Object:  Table [dbo].[Guest]    Script Date: 2025/10/11 22:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guest](
	[GuestID] [nchar](10) NOT NULL,
	[ID] [nvarchar](25) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [nchar](10) NOT NULL,
	[GuestAccID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Guest] PRIMARY KEY CLUSTERED 
(
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestAccount]    Script Date: 2025/10/11 22:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestAccount](
	[GuestAccID] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GuestAccount] PRIMARY KEY CLUSTERED 
(
	[GuestAccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2025/10/11 22:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [nchar](10) NOT NULL,
	[GuestAccID] [nchar](10) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[DatePaid] [date] NOT NULL,
	[PaymentType] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 2025/10/11 22:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Deposit] [bit] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Guest]  WITH CHECK ADD  CONSTRAINT [FK_Guest_GuestAccount] FOREIGN KEY([GuestAccID])
REFERENCES [dbo].[GuestAccount] ([GuestAccID])
GO
ALTER TABLE [dbo].[Guest] CHECK CONSTRAINT [FK_Guest_GuestAccount]
GO
ALTER TABLE [dbo].[GuestAccount]  WITH CHECK ADD  CONSTRAINT [FK_GuestAccount_Guest] FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guest] ([GuestID])
GO
ALTER TABLE [dbo].[GuestAccount] CHECK CONSTRAINT [FK_GuestAccount_Guest]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_GuestAccount] FOREIGN KEY([GuestAccID])
REFERENCES [dbo].[GuestAccount] ([GuestAccID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_GuestAccount]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Guest] FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guest] ([GuestID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Guest]
GO
USE [master]
GO
