USE [HotelSystemDB]
GO
/****** Object:  Table [dbo].[Guest]    Script Date: 2025/10/08 17:51:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guest](
	[GuestID] [nchar](10) NOT NULL,
	[ID] [nchar](10) NOT NULL,
	[Name] [nchar](30) NOT NULL,
	[Address] [nchar](50) NOT NULL,
	[Phone] [nchar](10) NOT NULL,
	[GuestAccID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Guest] PRIMARY KEY CLUSTERED 
(
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Unique_Guest_guestAccID] UNIQUE NONCLUSTERED 
(
	[GuestAccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
