USE [master]
GO
/****** Object:  Database [HotelSystemDB]    Script Date: 2025/10/10 20:39:40 ******/
CREATE DATABASE [HotelSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelSystemDB', FILENAME = N'C:\Users\Amahle M\HotelSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelSystemDB_log', FILENAME = N'C:\Users\Amahle M\HotelSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelSystemDB]
GO
/****** Object:  Table [dbo].[Guest]    Script Date: 2025/10/10 20:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guest](
	[GuestID] [nchar](10) NOT NULL,
	[ID] [nchar](13) NOT NULL,
	[Name] [nchar](30) NOT NULL,
	[Address] [nchar](50) NOT NULL,
	[Phone] [nchar](10) NOT NULL,
	[GuestAccID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Guest] PRIMARY KEY CLUSTERED 
(
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestAccount]    Script Date: 2025/10/10 20:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestAccount](
	[GuestAccID] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GuestAccount] PRIMARY KEY CLUSTERED 
(
	[GuestAccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2025/10/10 20:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [nchar](10) NOT NULL,
	[GuestAccID] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[DatePaid] [date] NOT NULL,
	[PaymentType] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC,
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 2025/10/10 20:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Deposit] [bit] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Guest] ([GuestID], [ID], [Name], [Address], [Phone], [GuestAccID]) VALUES (N'GT1052    ', N'1237890409   ', N'James Gain                    ', N'west st                                           ', N'0985446213', N'GA10548   ')
INSERT [dbo].[Guest] ([GuestID], [ID], [Name], [Address], [Phone], [GuestAccID]) VALUES (N'GT137     ', N'8912308647   ', N'Amahle Mbambo                 ', N'12 River St
Cape Town                            ', N'0987534512', N'GA1706    ')
INSERT [dbo].[Guest] ([GuestID], [ID], [Name], [Address], [Phone], [GuestAccID]) VALUES (N'GT178     ', N'0987654321   ', N'Mitchelle Kuttel              ', N'same strees                                       ', N'1234567899', N'GA8190    ')
GO
INSERT [dbo].[GuestAccount] ([GuestAccID], [GuestID], [DateCreated], [TotalAmount], [Status]) VALUES (N'GA10548   ', N'GT1052    ', CAST(N'2025-10-10' AS Date), CAST(0.00 AS Decimal(18, 2)), N'Unpaid    ')
INSERT [dbo].[GuestAccount] ([GuestAccID], [GuestID], [DateCreated], [TotalAmount], [Status]) VALUES (N'GA1706    ', N'GT137     ', CAST(N'2025-10-10' AS Date), CAST(0.00 AS Decimal(18, 2)), N'Unpaid    ')
INSERT [dbo].[GuestAccount] ([GuestAccID], [GuestID], [DateCreated], [TotalAmount], [Status]) VALUES (N'GA2412    ', N'GT695     ', CAST(N'2025-10-10' AS Date), CAST(0.00 AS Decimal(18, 2)), N'Unpaid    ')
GO
INSERT [dbo].[Reservation] ([ReservationID], [GuestID], [TotalPrice], [Deposit], [CheckInDate], [CheckOutDate]) VALUES (N'AM129-1   ', N'GT137     ', CAST(750.00 AS Decimal(18, 2)), 0, CAST(N'2025-12-09' AS Date), CAST(N'2025-12-10' AS Date))
INSERT [dbo].[Reservation] ([ReservationID], [GuestID], [TotalPrice], [Deposit], [CheckInDate], [CheckOutDate]) VALUES (N'AZ129-1   ', N'GT635     ', CAST(750.00 AS Decimal(18, 2)), 0, CAST(N'2025-12-09' AS Date), CAST(N'2025-12-10' AS Date))
INSERT [dbo].[Reservation] ([ReservationID], [GuestID], [TotalPrice], [Deposit], [CheckInDate], [CheckOutDate]) VALUES (N'JG129-1   ', N'GT1052    ', CAST(750.00 AS Decimal(18, 2)), 0, CAST(N'2025-12-09' AS Date), CAST(N'2025-12-10' AS Date))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_Guest_guestAccID]    Script Date: 2025/10/10 20:39:41 ******/
ALTER TABLE [dbo].[Guest] ADD  CONSTRAINT [Unique_Guest_guestAccID] UNIQUE NONCLUSTERED 
(
	[GuestAccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Payment] FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guest] ([GuestID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Payment]
GO
USE [master]
GO
