USE [HotelSystemDB]
GO
/****** Object:  Table [dbo].[Guest]    Script Date: 2025/09/30 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guest](
	[GuestID] [nchar](10) NOT NULL,
	[ID] [nchar](10) NOT NULL,
	[Name] [nchar](30) NOT NULL,
	[Address] [nchar](50) NOT NULL,
	[Phone] [nchar](10) NOT NULL,
	[GuestAccID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Guest] PRIMARY KEY CLUSTERED 
(
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Unique_Guest_guestAccID] UNIQUE NONCLUSTERED 
(
	[GuestAccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestAccount]    Script Date: 2025/09/30 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestAccount](
	[GuestAccID] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Status] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GuestAccount_1] PRIMARY KEY CLUSTERED 
(
	[GuestAccID] ASC,
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GuestAccount_GuestAccID] UNIQUE NONCLUSTERED 
(
	[GuestAccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2025/09/30 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [nchar](10) NOT NULL,
	[GuestAccID] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[Amount] [money] NOT NULL,
	[DatePaid] [datetime] NOT NULL,
	[PaymentType] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC,
	[GuestAccID] ASC,
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 2025/09/30 15:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [nchar](10) NOT NULL,
	[ReservationID] [nchar](10) NULL,
	[Availability] [nchar](10) NOT NULL,
	[Rate] [money] NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GuestAccount]  WITH CHECK ADD  CONSTRAINT [FK_GuestAccount_Guest] FOREIGN KEY([GuestAccID])
REFERENCES [dbo].[Guest] ([GuestAccID])
GO
ALTER TABLE [dbo].[GuestAccount] CHECK CONSTRAINT [FK_GuestAccount_Guest]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_GuestAccount] FOREIGN KEY([GuestAccID], [GuestID])
REFERENCES [dbo].[GuestAccount] ([GuestAccID], [GuestID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_GuestAccount]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation] ([ReservationID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_Reservation]
GO
