USE [master]
GO
/****** Object:  Database [HotelSystemDB]    Script Date: 2025/10/09 03:57:29 ******/
CREATE DATABASE [HotelSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelSystemDB', FILENAME = N'C:\Users\Amahle M\HotelSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelSystemDB_log', FILENAME = N'C:\Users\Amahle M\HotelSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelSystemDB]
GO
/****** Object:  Table [dbo].[Guest]    Script Date: 2025/10/09 03:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guest](
	[GuestID] [nchar](10) NOT NULL,
	[ID] [nchar](13) NOT NULL,
	[Name] [nchar](30) NOT NULL,
	[Address] [nchar](50) NOT NULL,
	[Phone] [nchar](10) NOT NULL,
	[GuestAccID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Guest] PRIMARY KEY CLUSTERED 
(
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestAccount]    Script Date: 2025/10/09 03:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestAccount](
	[GuestAccID] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GuestAccount] PRIMARY KEY CLUSTERED 
(
	[GuestAccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2025/10/09 03:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [nchar](10) NOT NULL,
	[GuestAccID] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[DatePaid] [date] NOT NULL,
	[PaymentType] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC,
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 2025/10/09 03:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Deposit] [bit] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Guest] ([GuestID], [ID], [Name], [Address], [Phone], [GuestAccID]) VALUES (N'GT001     ', N'96021214     ', N'Zandile Mthembu               ', N'10 Greening St, Cape Town                         ', N'0876541232', N'GA002     ')
INSERT [dbo].[Guest] ([GuestID], [ID], [Name], [Address], [Phone], [GuestAccID]) VALUES (N'GT002     ', N'99030413     ', N'Sanele Ndlovu                 ', N'8900 Kwaza Rd, Stellenbosch                       ', N'0971267342', N'GA001     ')
INSERT [dbo].[Guest] ([GuestID], [ID], [Name], [Address], [Phone], [GuestAccID]) VALUES (N'GT003     ', N'88122290     ', N'Ayakhona Klhini               ', N'234 Main Rd, Cape Town                            ', N'0237889654', N'GA003     ')
GO
INSERT [dbo].[GuestAccount] ([GuestAccID], [GuestID], [DateCreated], [TotalAmount], [Status]) VALUES (N'GA001     ', N'GT002     ', CAST(N'2025-11-12' AS Date), CAST(0.00 AS Decimal(18, 2)), N'Paid      ')
INSERT [dbo].[GuestAccount] ([GuestAccID], [GuestID], [DateCreated], [TotalAmount], [Status]) VALUES (N'GA002     ', N'GT001     ', CAST(N'2025-11-12' AS Date), CAST(0.00 AS Decimal(18, 2)), N'Paid      ')
INSERT [dbo].[GuestAccount] ([GuestAccID], [GuestID], [DateCreated], [TotalAmount], [Status]) VALUES (N'GA003     ', N'GT003     ', CAST(N'2025-11-15' AS Date), CAST(990.00 AS Decimal(18, 2)), N'Deposit   ')
GO
INSERT [dbo].[Payment] ([PaymentID], [GuestAccID], [GuestID], [Amount], [DatePaid], [PaymentType]) VALUES (N'PY001     ', N'GA003     ', N'GT003     ', CAST(110.00 AS Decimal(18, 2)), CAST(N'2025-11-15' AS Date), N'Deposit   ')
GO
INSERT [dbo].[Reservation] ([ReservationID], [GuestID], [TotalPrice], [Deposit], [CheckInDate], [CheckOutDate]) VALUES (N'AK121-2   ', N'GT003     ', CAST(1100.00 AS Decimal(18, 2)), 1, CAST(N'2025-12-01' AS Date), CAST(N'2025-12-03' AS Date))
INSERT [dbo].[Reservation] ([ReservationID], [GuestID], [TotalPrice], [Deposit], [CheckInDate], [CheckOutDate]) VALUES (N'R1287     ', N'GT004     ', CAST(0.00 AS Decimal(18, 2)), 0, CAST(N'2025-12-03' AS Date), CAST(N'2025-12-16' AS Date))
INSERT [dbo].[Reservation] ([ReservationID], [GuestID], [TotalPrice], [Deposit], [CheckInDate], [CheckOutDate]) VALUES (N'R2420     ', N'GT605     ', CAST(0.00 AS Decimal(18, 2)), 0, CAST(N'2025-12-18' AS Date), CAST(N'2025-10-24' AS Date))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_Guest_guestAccID]    Script Date: 2025/10/09 03:57:29 ******/
ALTER TABLE [dbo].[Guest] ADD  CONSTRAINT [Unique_Guest_guestAccID] UNIQUE NONCLUSTERED 
(
	[GuestAccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Payment] FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guest] ([GuestID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Payment]
GO
USE [master]
GO
