USE [master]
GO
/****** Object:  Database [HotelSystemDB]    Script Date: 2025/10/12 21:17:23 ******/
CREATE DATABASE [HotelSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelSystemDB', FILENAME = N'C:\Users\Amahle M\HotelSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelSystemDB_log', FILENAME = N'C:\Users\Amahle M\HotelSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelSystemDB]
GO
/****** Object:  Table [dbo].[Guest]    Script Date: 2025/10/12 21:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guest](
	[GuestID] [nchar](10) NOT NULL,
	[ID] [nvarchar](25) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [nchar](10) NOT NULL,
	[GuestAccID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Guest] PRIMARY KEY CLUSTERED 
(
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestAccount]    Script Date: 2025/10/12 21:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestAccount](
	[GuestAccID] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GuestAccount] PRIMARY KEY CLUSTERED 
(
	[GuestAccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2025/10/12 21:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [nchar](10) NOT NULL,
	[GuestAccID] [nchar](10) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[DatePaid] [date] NOT NULL,
	[PaymentType] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 2025/10/12 21:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [nchar](10) NOT NULL,
	[GuestID] [nchar](10) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Deposit] [bit] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Guest] ([GuestID], [ID], [Name], [Address], [Phone], [GuestAccID]) VALUES (N'GT154     ', N'0512121180117', N'Nomvelo Mbambo                                    ', N'Tugwell 46 rd,
Rondebosch,
7700
Cape Town      ', N'0732619980', N'GA893     ')
INSERT [dbo].[Guest] ([GuestID], [ID], [Name], [Address], [Phone], [GuestAccID]) VALUES (N'GT179     ', N'0312251244589', N'Alwande Shangase                                  ', N'Nelson Road
7500                                 ', N'0645110022', N'GA6429    ')
INSERT [dbo].[Guest] ([GuestID], [ID], [Name], [Address], [Phone], [GuestAccID]) VALUES (N'GT198     ', N'0501122356897', N'Tracey Ndlovu                                     ', N'Baxter Rd                                         ', N'0712335411', N'GA10171   ')
GO
INSERT [dbo].[GuestAccount] ([GuestAccID], [GuestID], [DateCreated], [TotalAmount], [Status]) VALUES (N'GA10069   ', N'GT987     ', CAST(N'2025-10-12' AS Date), CAST(2740.00 AS Decimal(18, 2)), N'Unpaid    ')
INSERT [dbo].[GuestAccount] ([GuestAccID], [GuestID], [DateCreated], [TotalAmount], [Status]) VALUES (N'GA1060    ', N'GT720     ', CAST(N'2025-10-12' AS Date), CAST(1500.00 AS Decimal(18, 2)), N'Unpaid    ')
INSERT [dbo].[GuestAccount] ([GuestAccID], [GuestID], [DateCreated], [TotalAmount], [Status]) VALUES (N'GA1134    ', N'GT411     ', CAST(N'2025-10-12' AS Date), CAST(995.00 AS Decimal(18, 2)), N'Unpaid    ')
GO
INSERT [dbo].[Payment] ([PaymentID], [GuestAccID], [Amount], [DatePaid], [PaymentType]) VALUES (N'PY011     ', N'GA4922    ', CAST(274.00 AS Decimal(18, 2)), CAST(N'2025-12-12' AS Date), N'Deposit   ')
INSERT [dbo].[Payment] ([PaymentID], [GuestAccID], [Amount], [DatePaid], [PaymentType]) VALUES (N'PY056     ', N'GA9621    ', CAST(350.00 AS Decimal(18, 2)), CAST(N'2025-12-01' AS Date), N'Deposit   ')
GO
INSERT [dbo].[Reservation] ([ReservationID], [GuestID], [TotalPrice], [Deposit], [CheckInDate], [CheckOutDate]) VALUES (N'AC1225-4  ', N'GT660     ', CAST(3980.00 AS Decimal(18, 2)), 0, CAST(N'2025-12-25' AS Date), CAST(N'2025-12-29' AS Date))
INSERT [dbo].[Reservation] ([ReservationID], [GuestID], [TotalPrice], [Deposit], [CheckInDate], [CheckOutDate]) VALUES (N'AC122-6   ', N'GT660     ', CAST(3500.00 AS Decimal(18, 2)), 1, CAST(N'2025-12-02' AS Date), CAST(N'2025-12-08' AS Date))
INSERT [dbo].[Reservation] ([ReservationID], [GuestID], [TotalPrice], [Deposit], [CheckInDate], [CheckOutDate]) VALUES (N'AM129-3   ', N'GT640     ', CAST(2250.00 AS Decimal(18, 2)), 0, CAST(N'2025-12-09' AS Date), CAST(N'2025-12-12' AS Date))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_GuestAccount] FOREIGN KEY([GuestAccID])
REFERENCES [dbo].[GuestAccount] ([GuestAccID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_GuestAccount]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Guest] FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guest] ([GuestID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Guest]
GO
USE [master]
GO
